<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @company.string %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @company.rut %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
